<div class="taitol">
  dieter
</div>

<div>
  <%= render "head" %>
</div>

<div class = "total-calorie">
  <div class = "in-calorie">
    摂取カロリー
  </div>

  <div class = "out-calorie">
    消費カロリー
  </div>
</div>

<div class = "total-calorie">
  <div class = "calorie">
    1500
    <div calss = kal>
      kal
    </div>
  </div>

  <div class = "calorie">
    1500
    <div calss = kal>
      kal
    </div>
  </div>
</div>

<div class = "menu">
  <div class="in-menu">
    <a href="#">体重入力</a>
  </div>

  <div class="in-menu">
    <a href="#">運動入力</a>
  </div>

  <div class="in-menu">
    <a href="#">食事入力</a>
  </div>

</div>